@import "./questions-block/questions-block.css";
.faq {
margin-bottom: 100px;
}

.faq__title {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
}

.faq__questions-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}