:root {
  --white-color: #FFFFFF;
  --main-background-color: #1B1A1B;
  --violet-color: #440F51;
  --violet-color-2: #6C0287;
  --black-violet-color: #640AA3;
  --light-violet-color: #840AA3;
  --pink-color: #CD06FF;
  --light-pink-color: #EADEED;
  --black-color: #000000;
}