.comments {
  margin-bottom: 100px;
}

.comments__title {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
}

.comments__ul {
display: flex;
flex-direction: column;
gap: 50px;
}

.ul__li-quote {
  padding: 0;
}

.li-quote__blockquote {
  display: flex;
  margin: 0;
  gap: 20px;
}

.blockquote__figure {
display: flex;
flex-direction: column;
gap: 11px;
}

.figure::before {
  display: block;
  position: absolute;
  content: " ";
  width: 280px;
  height: 280px;
  border-radius: 140px;
  background: radial-gradient(50.00% 50.00% at 50% 50%,rgba(196, 196, 196, 0),rgba(108, 2, 135, 0.5) 100%);
  z-index: 2;
}

.figure__figcaption {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.blockquote__paragraph {
  max-width: 680px;
  min-height: 88px;
  margin: 0;
  padding-top: 52px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}