.about {
  margin-bottom: 100px;
}

.about__title {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
}

.about__content {
  display: flex;
  gap: 80px;
}

.about-content__text-box {
  display: flex;
  flex-direction: column;
  gap: 59px;
}

.about__paragraphs {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
}

.first-paragraph {
  margin-bottom: 28px;
}

.about__blockquote {
display: flex;
flex-direction: column;
gap: 39px;
margin: 0;
}

.quote__paragraph {
  margin: 0;
  padding-top: 11px;
  padding-left: 31px;
  font-size: 44px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
}

.quote__paragraph::before {
  content:"“ ";
  margin-left: -31px;
  width: 38.98px;
  height: 34.41px;
  color: rgb(108, 2, 135);
  font-size: 44px;
  font-weight: 900;
  line-height: 50px;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
}


.quote__paragraph::after {
  content:" ”";
  display: inline;
  color: rgb(108, 2, 135);
  font-size: 44px;
  font-weight: 900;
  line-height: 50px;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  white-space: pre;
}

.quote__epigrapg-block {
  display: flex;
  align-self: flex-end;
  gap: 29.72px;
}

.quote__epigraph {
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
}

.quote__img {
  align-self: center;
  width: 80px;
  height: 80px;
}