.card_vibes {
  background-image: url(../card/img/80s-vibes.jpg);
  background-size: contain;
}

.card_star-wars {
  background-image: url(../card/img/star-wars.jpg);
  background-size: contain;
}

.card_wild-west {
  background-image: url(../card/img/wild-west.jpg);
  background-size: contain;
}

.card_neon {
  background-image: url(../card/img/neon.jpg);
  background-size: contain;
}


.card__link {
  min-height: 80px;
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
