.header__flexbox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  padding-top: 30px;
}

.header__logo {
  display: flex;
}

.header__logo::before {
  content: "";
  display: flex;
  width: 120px;
  height: 66px;
  background-image: url(./img/logo.svg);
}

.navigation {
  display: flex;
}

.header__list {
  display: flex;
  max-width: 587px;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.header-list__item {
  display: flex;
  min-width: fit-content;
  font-size: 22px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
}

.header__call-button {
  box-sizing: border-box;
  height: 55px;
  color: var(--white-color);
  background-color: inherit;
  padding: 12px 32px;
  padding-bottom: 13px;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0;
  text-transform: uppercase;
  border: 3px solid var(--pink-color);
  border-radius: 10px;
  margin-bottom: 3px;
  align-self: flex-end;
  transition: background-color 0.4s, border-color 0.4s;
}

.header__call-button:hover, .header__call-button:focus {
  cursor: pointer;
  background-color: var(--violet-color-2);
  border-color:  var(--violet-color-2);
}

.header__call-button:active {
  background-color: var(--black-violet-color-2);
  border: 1px solid var(--black-color);
}

@media (max-width: 1049px) {

  .header__flexbox {
    margin-bottom: 30px;
  }
  
  .header__logo::before {
    width: 87px;
    height: 55px;
    background-image: url(./img/logo1024px.svg);
  }
  
  .header__list {
    max-width: 430px;
    gap: 20px;
  }
  
  .header-list__item {
    font-size: 18px;
    line-height: 22px;
  }
  
  .header__call-button {
    height: 45px;
    padding: 10px 26px;
    padding-bottom: 11px;
    font-size: 18px;
    line-height: 24px;
    border-radius: 8px;
    margin-bottom: 4px;
  }
}

  @media (max-width: 820px) {
    .header__flexbox {
      margin-bottom: 30px;
    }
    
    .header__logo {
      align-items: center;
      flex-basis: 300px;
      justify-content: space-between;
    }

    .header__logo::before {
      order: 1;
    }

    .header__logo::after {
      display: flex;
      content: " ";
      width: 54px;
      height: 29px;
      background-image: url(./img/menu768px.svg);
      order: 0;
    }

    .header__list {
      display: none;
      visibility: hidden;
    }

    .header__call-button {
      height: 45px;
      padding: 10px 26px;
      padding-bottom: 11px;
      font-size: 18px;
      line-height: 24px;
      border-radius: 8px;
      margin-bottom: 4px;
    }
  }

  @media (max-width: 545px) {
    .header__flexbox {
      margin-bottom: 20px;
      padding-top: 20px;
    }
    
    .header__logo {
      align-items: center;
      flex-basis: 280px;
      justify-content: space-between;
    }

    .header__logo::before {
      order: 1;
      background-image: url(./img/logo320px.svg);
      width: 66px;
      height: 42px;
    }

    .header__logo::after {
      width: 39px;
      height: 20px;
      background-image: url(./img/menu320px.svg);
    }

    .header__call-button {
      display: none;
    }
  }