.halls {
  margin-bottom: 100px;
}

.halls__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.halls__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 580px;
  height: 349px;
}

.halls__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}

